<!DOCTYPE html>
<html lang="it">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-white near-black">

  {{ partial "site-header.html" . }}

  <main class="pb6">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

  <!-- Lightbox JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.3.1/js/glightbox.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    GLightbox({ selector: '.glightbox-item', loop: true, zoomable: true });
  });
</script>

  <script>
    window.addEventListener("DOMContentLoaded", () => {
      document.body.classList.add("loaded");
    });
  </script>
</body>
</html>