<footer class="bg-verde pv5 ph4 white">
  <div class="mw9 center flex flex-wrap justify-between items-start">

   <!-- Colonna: Logo + info brevi -->
<div class="w-100 w-25-l mb4 mb0-l">
  <img src="/images/loggone.png" alt="Logo Camping Piscina Demonte" style="width: 100px;" class="mb3 br2 bg-white pa2">
  <p class="lh-copy">
    Camping Piscina Demonte<br>
    <small>
      CIN: IT004079B14JOAULLH<br>
      Categoria: Campeggi e aree attrezzate<br>
      Codice struttura: B101<br>
      P. IVA: 01234560012
    </small>
  </p>
</div>

    <!-- Colonna: Navigazione -->
    <div class="w-100 w-20-l mb4 mb0-l">
      <h3 class="f5 fw6 mb3">Navigazione</h3>
      <ul class="list pa0">
        <li class="mb2"><a href="/" class="white link dim">Home</a></li>
        <li class="mb2"><a href="/servizi/" class="white link dim">Servizi</a></li>
        <li class="mb2"><a href="/chi-siamo/" class="white link dim">Chi siamo</a></li>
        <li class="mb2"><a href="/contatti/" class="white link dim">Contatti</a></li>
        <li class="mb2"><a href="/listino/" class="white link dim">Listino Prezzi</a></li>
        <li class="mb2"><a href="/privacy/" class="white link dim">Privacy policy</a></li>
      </ul>
    </div>

    <!-- Colonna: Servizi -->
    <div class="w-100 w-25-l mb4 mb0-l">
      <h3 class="f5 fw6 mb3">I nostri servizi</h3>
      <ul class="list pa0">
        <li class="mb2"><a href="/servizi/piscina/" class="white link dim">Piscina</a></li>
        <li class="mb2"><a href="/servizi/escursioni/" class="white link dim">Escursioni</a></li>
        <li class="mb2"><a href="/servizi/casette/" class="white link dim">Casette in Legno</a></li>
        <li class="mb2"><a href="/servizi/chalet/" class="white link dim">Chalet</a></li>
        <li class="mb2"><a href="/servizi/piazzole/" class="white link dim">Piazzole</a></li>
        <li class="mb2"><a href="/servizi/igloo/" class="white link dim">Igloo</a></li>
        <li class="mb2"><a href="/servizi/bar-ristoro/" class="white link dim">Bar / Ristoro</a></li>
        <li class="mb2"><a href="/servizi/servizi-generali/" class="white link dim">Servizi Generali</a></li>
      </ul>
    </div>

  <!-- Colonna: Contatti -->
<div class="w-100 w-25-l mb4 mb0-l">
  <h3 class="f5 fw6 mb3">Contatti</h3>
  <p class="lh-copy">
    Camping Piscina Demonte<br>
    Via per il Paradiso 1, 12014 Demonte (CN)<br>
    Tel: <a href="tel:+390171123456" class="white link dim">+39 0171 123456</a><br>
    Email: <a href="mailto:info@campingpiscinademonte.com" class="white link dim">info@campingpiscinademonte.com</a><br>
    PEC: <span class="white-70">pec@campingpiscinademonte.pec.it</span><br>
    Periodo di apertura: dal 1/05 al 15/10
  </p>

  <p class="lh-copy mt3">
    <a href="/listino/" class="white link dim">📄 Listino Prezzi</a><br>
    <a href="/prenotazioni/" class="white link dim">📅 Prenotazioni</a>
  </p>
</div>

  </div>

  <!-- Footer credits -->
  <div class="tc mt4 pt3 bt b--white-10">
    <p class="f6">Realizzato con ❤️ da <a href="https://www.assemblercomputer.net/" class="white link underline">Manuel – Assembler Computer</a></p>
    <p class="f6 mt2">© 2025 Camping Piscina Demonte – Tutti i diritti riservati</p>
  </div>
</footer>