<header class="bg-white pv4 ph4 shadow-1">
  <div class="mw8 center flex items-center justify-between">

    <!-- Logo -->
    <a href="{{ "/" | relLangURL }}" class="flex items-center link">
      <img src="{{ "images/loggone.png" | relURL }}" alt="Logo Camping Piscina Demonte"
           style="height: 150px; width: auto; padding: 5px; border-radius: 8px;" class="mr3">
    </a>

    <!-- Menu -->
    <nav>
      <ul class="list pa0 ma0 flex items-center">
        <li class="mr4"><a href="{{ "/" | relLangURL }}" class="dark-gray link dim f4 fw6 pv2">Home</a></li>
        <li class="mr4"><a href="{{ "/servizi/" | relLangURL }}" class="dark-gray link dim f4 fw6 pv2">Servizi</a></li>
        <li class="mr4"><a href="{{ "/chi-siamo/" | relLangURL }}" class="dark-gray link dim f4 fw6 pv2">Chi siamo</a></li>
        <li class="mr4"><a href="{{ "/listino/" | relLangURL }}" class="dark-gray link dim f4 fw6 pv2">Listino</a></li>
        <li class="mr4"><a href="{{ "/regolamento/" | relLangURL }}" class="dark-gray link dim f4 fw6 pv2">Regolamento</a></li>
        <li><a href="{{ "/contatti/" | relLangURL }}" class="dark-gray link dim f4 fw6 pv2">Contatti</a></li>
      </ul>
    </nav>

  </div>
</header>